<div class="panel panel-default">
    <div class="panel-heading" #heading >
        <!-- {{element.name}} -->
        {{name}}
    </div>
    <div class="panel-body">

        <!-- It's <ng-content> it's data came by it's parent component but Their it calls -->
        <ng-content></ng-content>

        <!-- <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{element.content}}</em>
        </p> -->
    </div>
</div>