<!-- {{ data }} : String Interpolation (It is use to outputting data into templet) -->
<p>{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}</p>
<p>Server with ID {{ serverId }} is {{ serverStatus }}</p>


<!-- [property]="data" : Property Binding (It is use to manipulate the property into templet) -->
<!-- It's only disable when the property would be true -->
<button type="button" class="btn btn-primary mb-3" [disabled]="btnDisable">Add Server</button>
<p [innerText]="btnDisable"></p>

<!-- It's only disable when the property would be false -->
<button type="button" class="btn btn-primary mb-3" [disabled]="!btnDisable">Add Server</button>
<p [innerHTML]="btnDisable"></p>

<br />
<br />
<br />

<!-- (event)="function()" : Event Binding (It's trigger event as per the event function and show data) -->
<button type="button" (click)="onEventBinding()">Create Server</button>
<p>{{eventBindingText}}</p>

<br />
<br />
<br />

<label>{{dataPassing}}</label>
<!-- (event)="fun($event)" : Passing and using data with Event Binding, and  It is reacting to event in only one direction  -->
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />


<br />
<!-- [(ngModel)]="ngModelData" : It's known as Two-Way-Binding, and It is reacting to event in both direction -->
<label>Combination of {{'Output Binding'}} and {{'React to button'}}</label>
<input type="text" class="form-control my-3" [(ngModel)]="ngModelData" />
{{ ngModelData }}

<br />

<!-- dynamic ngStyle Start -->
<p [ngStyle]="{backgroundColor: getColor(), padding: '10px', color: 'white', borderRadius: '5px', letterSpacing: '1px'}" >Server Id is {{serverStyleId}} and Status is {{serverStyleStatus}}</p>
<!-- dynamic ngStyle End -->

<!-- dynamic ngClass Start -->
<p [ngClass]="{Online: serverStyleStatus === 'Online' }" [ngStyle]="{backgroundColor: getColor(), padding: '10px', color: 'white', borderRadius: '5px', letterSpacing: '1px'}" >Server Id is {{serverStyleId}} and Status is {{serverStyleStatus}}</p>
<!-- dynamic ngClass End-->