<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
            <h1>App Components</h1>
            <hr>
            <app-server *ngFor="let server of servers" >
            </app-server>
            <app-servers></app-servers> -->
<!-- Here how we call attributes selectors (here angular select by atribute not as element itself ) -->
<!-- <div app-servers></div> -->
<!-- Here I call it by class name -->
<!-- <div class="app-servers"></div> -->
<!-- <app-warning-alerts></app-warning-alerts>
            <app-success-alerts></app-success-alerts>
            <app-form-example></app-form-example>
            
        </div>
    </div>
</div> -->
<section>
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-recipes></app-recipes>
            </div>
            <div class="col-md-12">
                <app-shopping-list></app-shopping-list>
            </div>
            <div class="col-md-12">
                <!-- <app-cockpit (serverCreated)="onServerAdded($event)"
                    (bluePrintCreated)="onBlueprintAdded($event)"></app-cockpit> -->
                <app-cockpit (serverCreated)="onServerAdded($event)"
                    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
                <hr />
            </div>
            <div class="col-md-12">
                <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement" [name]="serverElement.name" >

                    <!-- it is for <ng-content> using, which runs in parent to child Start -->
                    <p>
                        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content
                            }}</strong>
                        <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
                    </p>
                    <!-- it is for <ng-content> using, which runs in parent to child End -->
                </app-server-element>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="onChangeFirst()" >Change first Element</button>
                <button class="btn btn-danger" (click)="onChangeDestroy()" style="margin-left: 5px;" >Destroy first Element</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>